@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.anim{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
}
.hi {
  animation: dash 5s linear forwards;
}

.comma {
  animation: dash 1s 2s linear forwards;
}

.its {
  animation: dash 5s 2.3s linear forwards;
}

.liv {
  animation: dash 5s 3.7s linear forwards;
}

.dot1 {
  animation: dash 1s 1.5s linear forwards;
}

.dot2 {
  animation: dash 1s 2.5s linear forwards;
}
.dot3 {
  animation: dash 1s 5s linear forwards;
}

.dot4 {
  animation: dash 7s 6.3s linear forwards;
}
.t{
    animation: dash 1s 2.6s linear forwards;
}
.apostrophe{
    animation: dash 1s 3.5s linear forwards;
}

.exclamation{
    animation: dash 1s 6s linear forwards;
}

.header svg {
  width: 100%; height: 100vh;
}


:root {
  --white: #fff;
  --black: #000033;
  --lightpurple: #9e91f2;
  --accent: #D64550;
}

body {
  position: relative;
  font: 1.5em Raleway;
  color: var(--black);
}

@media (max-width: 1200px){
  .page-main section {
  position: relative;
  height: 50vh;
}
}
.page-main section {
position: relative;
height: 100vh;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  padding: 10px;
  text-align: right;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}
