@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.anim{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
.hi {
  animation: dash 5s linear forwards;
}

.comma {
  animation: dash 1s 2s linear forwards;
}

.its {
  animation: dash 5s 2.3s linear forwards;
}

.liv {
  animation: dash 5s 3.7s linear forwards;
}

.dot1 {
  animation: dash 1s 1.5s linear forwards;
}

.dot2 {
  animation: dash 1s 2.5s linear forwards;
}
.dot3 {
  animation: dash 1s 5s linear forwards;
}

.dot4 {
  animation: dash 7s 6.3s linear forwards;
}
.t{
    animation: dash 1s 2.6s linear forwards;
}
.apostrophe{
    animation: dash 1s 3.5s linear forwards;
}

.exclamation{
    animation: dash 1s 6s linear forwards;
}

.header svg {
  width: 100%; height: 100vh;
}

.intro{
  font-size: 40px;
  height: 100vh;
}


hr{
  width: 90%;
  border: 2px solid black;
}

:root {
  --white: #fff;
  --black: #000033;
  --lightpurple: #9e91f2;
  --accent: #D64550;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font: 16px/1.5 sans-serif;
  color: var(--white);
}

.trigger-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 20px;
  z-index: 2;
  background: transparent;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.page-header .trigger-menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: var(--white);
  letter-spacing: .2em;
}

.page-header .trigger-menu svg {
  fill: var(--white);
  margin-right: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.page-header .menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  text-align: center;
  padding: 15vh 0 5vh;
  overflow: auto;
  z-index: 1;
  background: var(--black);
}

.page-header .menu a {
  font-size: 3rem;
}

.page-header .sub-menu a {
  font-size: 1.5rem;
}

.sub-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-main section {
  position: relative;
  height: 100vh;
}

.page-main section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-size: 0.85rem;
  padding: 10px;
  text-align: right;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}

.menu-open {
  overflow: hidden;
}

.menu-open .trigger-menu-wrapper {
  background: var(--black);
}

.menu-open .page-header .menu {
  display: block;
}

.menu-open .page-header svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scroll-down .trigger-menu-wrapper {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
  -webkit-transform: none;
          transform: none;
}

.scroll-up:not(.menu-open) .trigger-menu-wrapper {
  background: var(--black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section{
  width: 98vw;
  color: black;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  font-family: 'Raleway', sans-serif;
}

section .prompt{
  max-width: 50%;
  min-width: 25%;
  margin: 2em;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  font-weight: bolder;
}

section .text{
  min-width: 50%;
  margin: 2em ;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
